# MongoDB
DB_URI=<insert MongoDB connection string here>

# SSL - PROD ONLY
KEY_ALIAS=<insert key alias here>
KEY_STORE=<insert path to keystore here>
KEY_STORE_PASSWORD=<insert keystore password here>